body{
	margin:0;
	padding:0;
}

.paddingInner {
	padding:10px;
	background:black;
	color:white;
}

//clases para el main
.padding-for-main{
	padding:10px;
}

.margin-for-main{
	margin-left:100px;
}

.panel{
	pull:right;
}


//clases para menu izquierdo
.text-align-right{
	text-align: right;
}

.pull-left {
	width: 100px;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 30px;
}

.columna-larga {
	height: 100%;
}

.lista-no-ordenada {
	list-style:none;
	margin-right: 5px;
}

.list-item {
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 0px;
}


.list-item:hover {
	text-shadow: 1px 1px 1px blue;
	cursor: pointer;
}

.lista {
	padding:5px;
	border-right: 1px solid black;
}

.panel {
	margin:10px;
	box-shadow: 1px 1px 2px black;
}

.encabezado-panel {
	padding:25px;
	font-size: 15pt;
	border-bottom: 1px solid black;
}

.contenido-panel{
	padding:5px 25px 25px 25px;
	font-size: 10pt;
}
